/*index.sass
 * Version: 1.1
 * Made by: Tim Minderman */
.grid-container {
  display: grid;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px; }

.show_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e6e2d3; }

.edit_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #e6e2d3; }

.main_content {
  background: #e6e2d3; }

.ajaxSearch {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  grid-column-end: 5; }

.create_field {
  margin-top: 100px;
  grid-column-start: 3;
  grid-column-end: 4; }

/*Tables */
.table_header {
  text-align: left;
  font-size: 25px;
  color: #555555; }

.table_title a {
  text-decoration: none;
  color: #008CBA;
  transition: color 500ms ease; }
  .table_title a:hover {
    color: blueviolet;
    text-decoration: underline; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #c4b7a6; }

th {
  background-color: #b9936c;
  color: white; }

.delete_table, .edit_table {
  padding: 5px;
  border: 0px; }

.delete_table {
  width: 85px; }

.edit_table {
  width: 55px; }

/*Buttons */
.delete_button {
  padding: 1rem;
  border: 0;
  background: #f44336;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease; }
  .delete_button:hover {
    opacity: 0.6;
    cursor: pointer; }

.edit_button {
  padding: 1rem;
  border: 0;
  background: #008CBA;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease; }
  .edit_button:hover {
    opacity: 0.6;
    cursor: pointer; }

.edit_button-two {
  padding: 1rem;
  border: 0;
  background: #4CAF50;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  cursor: pointer; }
  .edit_button-two:hover {
    opacity: 0.6;
    cursor: pointer; }

.create_button {
  padding: 1rem;
  border: 0;
  background: #4CAF50;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease;
  margin-bottom: 15px;
  margin-left: 10px; }
  .create_button:hover {
    opacity: 0.6;
    cursor: pointer; }

.back_button {
  padding: 1rem;
  border: 0;
  background: #555555;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease;
  cursor: pointer;
  text-decoration: none; }
  .back_button:hover {
    opacity: 0.6;
    cursor: pointer; }

.back {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.search_button {
  padding: 1rem;
  background: #4CAF50;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: opacity 500ms ease;
  cursor: pointer;
  margin-top: 10px; }
  .search_button:hover {
    opacity: 0.6;
    cursor: pointer; }

/*Search bar */
.search_bar {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  border-right: 0px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../images/search.svg");
  background-position: 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }
  .search_bar:focus {
    width: 15%; }

/*Edit and create form */
.edit_container {
  margin-left: 15px; }

.edit_container label {
  display: block;
  margin: 5px 0px 10px 0px;
  font-size: 20px; }

.edit_header {
  display: flex;
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 25px;
  padding-bottom: 3px;
  max-width: 250px;
  justify-content: flex-end; }

.form_description, .form_occupation, .form_title {
  width: 50%;
  padding: 5px; }

.form_occupation, .form_title {
  height: 30px; }

.form_description {
  height: 100px; }

/*# sourceMappingURL=index.css.map */
